@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
	background-color: beige;
}

.App {
	height: 100vh;
	display: flex;
	align-items: center;
}

form {
	display: flex;
	background-color: rgb(23, 85, 136);
	padding: 1rem;
	margin: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 5px #222;
}

.labels,
.inputs {
	display: flex;
	flex-direction: column;
}

.labels label {
	margin: 1rem 1rem;
	padding: 0.3rem;
	color: white;
}

.labels label:last-child {
	margin-top: 4.5rem;
}

.inputs input,
textarea,
select,
button {
	min-width: 15vw;
	margin: 1rem;
	padding: 0.5rem;
	border-radius: 5px;
	border-style: none;
}

button {
	width: 88%;
	margin-left: 1rem;
	padding: 0.5rem;
	border-radius: 5px;
	border-style: none;
	background-color: rgb(34, 138, 34);
	color: white;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

button:hover {
	background-color: rgb(84, 168, 84);
}

.View {
	background-color: white;
	width: 100%;
	margin: 1rem;
	padding: 2rem;
	border-radius: 5px;
	border: 1px solid #222;
	box-shadow: 0 0 5px #222;
}

.View h2 {
	margin-bottom: 5rem;
	display: block;
	text-align: center;
}

.notebook div {
	display: flex;
	background-color: rgb(240, 240, 240);
}

.notebook div .line {
	border: 1px solid #222;
	border-right: 1px solid red;
	width: 40px;
	margin: -1px 1px 0 0;
}

.notebook div p {
	border: 1px solid #222;
	border-left: 1px solid red;
	padding: 0.5rem;
	margin: -1px 0 0 0;
	width: 100%;
	font-weight: 500;
}

span {
	margin: 0 2rem;
	font-weight: 600;
	font-size: 1.5rem;
	font-family: "Caveat", cursive;
}

.Popup {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.active {
	display: flex;
}

.popup-wrapper {
	width: 40%;
	background-color: white;
	border: 1px solid #222;
	border-radius: 5px;
	padding: 2rem;
}

.popup-content {
	margin: 3rem 1rem;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.buttons button {
	padding: 0.7rem;
	text-transform: uppercase;
}

.buttons button:last-child {
	background-color: rgb(146, 146, 146);
}

.buttons button:last-child:hover {
	background-color: rgb(180, 180, 180);
}
